{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card guild-card">
            <div class="card-body">
                <h2 class="card-title text-center">Password Reset</h2>
                <hr>
                <p>Forgotten your password? Enter your email address below, and we'll email you instructions for setting a new one.</p>
                <form method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-warning btn-sm mt-2" type="submit">Reset My Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}