body {
    background-color: #1a1a1a; 
    color: #f2f2f2; /* light grey color for all body texts */
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* pure white for headings to make them stand out */
}
a {
    color: #ffb700; /* a wow theme classic gold color for links */
}

/* guild card styling background and golden color */
.guild-card  {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border: 1px solid #ffb700;
    color: #ffffff;
    
    

}

.guild-card .card-body {
    padding: 1rem;

}


.card-img-top {
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.guild-card .text-muted {
    color: #c0c0c0 !important;

}
/* Override Bootstrap's default muted text color */
.text-muted {
    color: #acacac !important; /* a whiter color that makes you see through the dark background color */
}

.guild-card-img {
    height: 550px;
    object-fit: cover;
    background-color: #000000;
}