body {
    background-color: #1a1a1a; 
    background-image: url('../images/finishedbackground.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #f2f2f2; /* light grey color for all body texts */
    font-family: "Cinzel", serif; /* use google font in styling  */
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* pure white for headings to make them stand out */
    font-family: "Cinzel", serif; 
}
a {
    color: #ffb700; /* a wow theme classic gold color for links */
}

/* guild card styling background and golden color */
.guild-card  {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    color: #ffffff;
    
    

}

 /* NAVBAR STYLING */

 .navbar.bg-dark {
    background-color: #000000 !important;
 }
/* FACTION change color theme */
.guild-card.faction-alliance {
    border: 1px solid #007bff; /* make the ally border blue */

}

.guild-card.faction-horde {
    border: 1px solid #dc3545; /* make horde border red */
}

.guild-card .card-body {
    padding: 1rem;

}


.card-img-top {
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.guild-card .text-muted {
    color: #c0c0c0 !important;

}
/* Override Bootstrap's default muted text color */
.text-muted {
    color: #acacac !important; /* a whiter color that makes you see through the dark background color */
}

.guild-card-img {
    height: 550px;
    object-fit: cover;
    background-color: #000000;
}
/* create so our buttons look more like wow 3d feel, button style section till *//* */
.btn {
    border-radius: 4px;
    border: 1px solid #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    background-image: linear-gradient(to bottom, #0d6efd, #0a58ca);
    border-color: #0a58ca;
}

.btn-primary:hover {
    background-image: linear-gradient(to bottom, #3b8aff, #0d6efd);
    border-color: #0b5ed7;
}
/* style for warning buttons (gold feeling e.g "Details" */
.btn-warning {
    background-color: #ffb700;
    background-image: linear-gradient(to bottom, #fcc233, #e6a500);
    border-color: #cca000;
    color: #1a1a1a;
}

.btn-warning:hover {
    background-image: linear-gradient(to bottom, #ffd466, #ffb700);
    border-color: #cca000;
    color: #1a1a1a;

}
/*//*
 /** Form Styling **/ 
 /*
 /*
 /*

/* makes the information text when you trying to sign up text more readable */
.form-text {
    color: #acacac;

}

/* makes form inputs and labels a bit smaller. */
.form-control, label {
    font-size: 0.9rem;
}
/* makes the form inputs little bit smaller example login name, email, password input */
.form-control {
    max-width: 400px;
}

.form-container {
    max-width: 450px;
}