{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Find Your Guild</h1>
<p>Browse the list of guilds looking for new members</p>
<hr>
{% if guilds %}
<div class="row g-3">
    {% for guild in guilds %}
    <div class="col-md-4 mb-4">
        <!-- got help here with the faction style from chatgpt, make different color for horde or ally. -->
        <div class="card guild-card faction-{{ guild.faction|lower }}">
            {% if guild.image %}
            
<img src="{{ guild.image.url }}" class="card-img-top guild-card-img"  alt="{{ guild.name }}">
{% else %}
<img src="{% static 'images/placeholder.jpg' %}" class="card-img-top guild-card-img" alt="No image available">
            
            
{% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ guild.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ guild.realm }}</h6>
                <p class="card-text">
                    <span class="badge {% if guild.faction == 'ALLIANCE' %}bg-primary{% else %}bg-danger{% endif %} d-inline-flex align-items-center">{% if guild.faction == 'ALLIANCE' %}
                        <img src="{% static 'images/allianceblack1.png' %}" alt="Alliance Logo" width="15" height="15" class="me-1">
                        {% else %}
                        <img src="{% static 'images/hordeblack1.png' %}" alt="Horde Logo" width="15" height="15" class="me-1">
                        {% endif %}
                        {{ guild.get_faction_display }}
                    </span>

                </p>
                <a href="{% url 'guild_detail' slug=guild.slug %}" class="btn btn-warning">Details</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No Guilds are currently recruiting. Why not post an ad?</p>
{% endif %}


{% endblock %}