{% extends "base.html" %}
{% load static %}
{% block content  %}
<div class="row">
    <div class="col-md-8">

<h2>{{ guild.name }}</h2>
<p>
<span class="badge {% if guild.faction == 'ALLIANCE' %}bg-primary{% else %}bg-danger{% endif %} d-inline-flex align-items-center">
    {% if guild.faction == 'ALLIANCE' %}
    <img src="{% static 'images/allianceblack1.png' %}" alt="Alliance Logo" width="15" height="15" class="me-1">
    {% else %}
    <img src="{% static 'images/hordeblack1.png' %}" alt="Horde Logo" width="15" height="15" class="me-1">
    {% endif %}
    {{ guild.get_faction_display }}
</span>
<span class="text-muted">{{ guild.realm }} - {{ guild.region }}</span>
</p>
<hr>

<p>{{ guild.description|linebreaks }}</p>
    </div>

    <div class="col-md-4">
        <div class="card guild-card">
            <div class="card-body">
                <h6 class="card-title">Interested in this guild? Apply here!</h6>
                <a href="{% url 'application_create' guild_id=guild.id %}" class="btn btn-warning btn-sm">Apply to this Guild</a>
                <p>
<strong>Owner:</strong>
{% if guild.owner %}
{{ guild.owner.username }}
{% else %}
No owner
{% endif %}
<br>
<strong>Posted:</strong> {{ guild.created_on|date:"d M Y" }}
                </p>

                {% if user.is_authenticated and guild.owner == user %}
                <a href="{% url 'guild_edit' slug=guild.slug %}" class="btn btn-warning mt-2">Edit Guild</a>
                <a href="{% url 'guild_delete' slug=guild.slug %}" class="btn btn-danger mt-2">Delete Guild</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}